apiVersion: apps/v1
kind: Deployment
metadata:
  name: result
  namespace: ipl-prediction
spec:
  replicas: 1
  selector:
    matchLabels:
      app: result
  template:
    metadata:
      labels:
        app: result
    spec:
      containers:
        - name: result
          image: fawazcp/ipl-result:v1     # change to your repo
          imagePullPolicy: IfNotPresent
          env:
            - name: DB_HOST
              value: db
            - name: DB_USER
              value: postgres
            - name: DB_PASSWORD
              value: postgres
            - name: DB_NAME
              value: iplpredictions
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: result
  namespace: ipl-prediction
spec:
  selector:
    app: result
  ports:
    - port: 80
      targetPort: 80
  type: ClusterIP

